<ion-view view-title="DiD It">
    <ion-content class='padding'>
      <div class='profile-picture-container'>
        <img ng-src="img/default-profile.png" class='profile-picture'/>
      </div>
      <div class='list list-inset'>
              <label class="item item-input">
                  <input type="text" placeholder="Username" ng-model='username'>
              </label>
              <label class="item item-input">
                  <input type="password" placeholder="Password" ng-model='password'>
              </label>
              <br>
              <button class="button button-block button-energized" ui-sref="weekProgress({currentWeekNumber : '{{currentWeekNumber}}',currentYearNumber: '{{currentYearNumber}}' })">
              Login
            </button>
          <p></p>
      </div>
    </ion-content>
</ion-view>
