<ion-view view-title="Mobile Hackathon">
    <ion-content class=padding>
      <div class="list">
        <br>
        <label class="item item-input">
          <span class="input-label">Start Time</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">End Time</span>
          <input type="text">
        </label>
        <br><br>
        <label class="item item-input">
          <span class="input-label">Duration</span>
          <input type="text" ng-disabled='true'>
        </label>
        <br>
        <br>
        <label class="item item-input item-select">
          <div class="input-label">
            Project
          </div>
          <select>
            <option>Puzzlepart</option>
            <option selected>Assist 365</option>
            <option>99x Internal</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Customer
          </div>
          <select>
            <option>99x</option>
            <option selected>Puzzlepart</option>
            <option>Compello</option>
          </select>
        </label>
        <br><br>
      </div>
      <div class="button-bar">
        <button class="button button-icon button-dark button-clear"><i class="icon ion-ios-locked"></i></button>
        <button class="button button-icon button-balanced button-clear"><i class="icon ion-ios-checkmark"></i></button>
        <button class="button button-icon button-assertive button-clear"><i class="icon ion-ios-close"></i></button>
      </div>
    </ion-content>
</ion-view>
