<ion-view view-title="Week 37" hide-back-button='true'>
    <ion-content>
      <ion-list>
        <ion-item>
          <div class="row">
            <div class="col">Mon</div>
            <div class="col">8h</div>
            <div class="col"><button class="button button-small button-clear">
              <i class='icon icon-approved'></i>
            </button></div>
          </div>
        </ion-item>
        <ion-item>
          <div class="row">
            <div class="col">Tue</div>
            <div class="col">6h</div>
            <div class="col"><button class="button button-small button-clear">
              <i class='icon icon-approved'></i>
            </button></div>
          </div>
        </ion-item>
        <ion-item>
          <div class="row">
            <div class="col">Wed</div>
            <div class="col">7.5h</div>
            <div class="col"><button class="button button-small button-clear">
              <i class='icon icon-approved'></i>
            </button></div>
          </div>
        </ion-item>
        <ion-item>
          <div class="row">
            <div class="col">Thur</div>
            <div class="col">6h</div>
            <div class="col"><button class="button button-small button-clear">
              <i class='icon icon-approved'></i>
            </button></div>
          </div>
        </ion-item>
        <ion-item>
          <div class="row">
            <div class="col">Fri</div>
            <div class="col">8h</div>
            <div class="col"><button class="button button-small button-clear" ui-sref='dayProgress'>
              <i class='icon icon-pending'></i>
            </button></div>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
