<ion-view view-title="{{'Week ' + weekStartend.weekNumber}}" hide-back-button='true'>

  <ion-nav-buttons side="right">
      <button class="button button-clear" ui-sref='login'>
        <i class='icon ion-log-out'></i>
      </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
      <button class="button button-clear" ng-click='substractOneWeek()'>
        <i class='icon ion-ios-minus-outline'></i>
      </button>
      <button class="button button-clear" ng-click='addOneWeek()'>
        <i class='icon ion-ios-plus-outline'></i>
      </button>
  </ion-nav-buttons>

    <ion-content>
      <ion-list>
        <ion-item ng-repeat='day in weeklyTimesheet'>
          <div class="row">
            <div class="col">{{day.date}}</div>
            <div class="col">{{day.hours}}</div>
            <div class="col"><button class="button button-small button-clear">
              <i class='icon icon-approved' ng-show={{day.state}}></i>
              <i class='icon icon-suggested' ng-hide={{day.state}}></i>
            </button></div>
          </div>
        </ion-item>
      </ion-list>
      <br>
      <br>
      <br>
      <div class="padding">
        <button class="button button-block button-balanced" ng-show="stateWeek=='DidIt'">
          This is What I DID
        </button>
        <button class="button button-block button-outline button-balanced" ng-disabled='true' ng-show="stateWeek=='Confirmed'">
          Already Confirmed
        </button>
      </div>
    </ion-content>
</ion-view>
