<ion-view view-title="{{'Week ' + weekStartend.weekNumber}}" hide-back-button='true'>

  <ion-nav-buttons side="right">
      <button class="button button-clear" ui-sref='login'>
        <i class='icon ion-log-out'></i>
      </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
      <button class="button button-clear" ng-click='substractOneWeek()'>
        <i class='icon ion-ios-minus-outline'></i>
      </button>
      <button class="button button-clear" ng-click='click()'>
        <i class='icon ion-ios-plus-outline'></i>
      </button>
  </ion-nav-buttons>

    <ion-content>
      <ion-list>
        <ion-item>
          <div class="row">
            <div class="col">Mon</div>
            <div class="col">8h</div>
            <div class="col"><button class="button button-small button-clear" ng-click='getDate()'>
              <i class='icon icon-approved'></i>
            </button></div>
          </div>
        </ion-item>
        <ion-item>
          <div class="row">
            <div class="col">Tue</div>
            <div class="col">5.5h</div>
            <div class="col"><button class="button button-small button-clear">
              <i class='icon icon-approved'></i>
            </button></div>
          </div>
        </ion-item>
        <ion-item>
          <div class="row">
            <div class="col">7h</div>
            <div class="col">7.5h</div>
            <div class="col"><button class="button button-small button-clear">
              <i class='icon icon-approved'></i>
            </button></div>
          </div>
        </ion-item>
        <ion-item>
          <div class="row">
            <div class="col">Thur</div>
            <div class="col">6h</div>
            <div class="col"><button class="button button-small button-clear">
              <i class='icon icon-approved'></i>
            </button></div>
          </div>
        </ion-item>
        <ion-item>
          <div class="row">
            <div class="col">Fri</div>
            <div class="col">8h</div>
            <div class="col"><button class="button button-small button-clear" ui-sref='dayProgress'>
              <i class='icon icon-pending'></i>
            </button></div>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
